<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <title>Header</title>
</head>
<style>
    body{
        margin: 0px;
    }
    .header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #21C08B;
    }

    .header__img{
        width: 200px;
        margin-top: 10px;
        margin-left: 10px;
    }

    .header__menu{
    margin-right: 30px;
    }

    .header__menu li a:hover{
        text-decoration: underline;
    }
</style>
<body>
    <header class="header">
        <img class="header__img" src="../assets/logo-platzi-video.png" alt="header img">
    </header>
</body>
</html>