/* I'AM USING BEM TO WRITE MY CSS */

$blanco: white;

body{
    margin: 0px;
    font-family: 'Muli', sans-serif;
}

@mixin flex{ //Para crear un elemento extendible y diferenciarlo de las clases que se escriben ".flex"
    display: flex;
    align-items: center;
}

.header{
    width: 100%;
    height: 80px;
    // display: flex;
    // align-items: center;
    @include flex; //Heredar las clases del elemento extendible
    justify-content: space-between;
    color: $blanco;
    background-color: #21C08B;
}
.header__img{
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

.login{
    background: linear-gradient(#21C08B, #AB88FF);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    min-height: calc(100vh - 200px);   
}

.login__container{
    background-color: rgba(255, 255, 255, .1);
    border: 2px solid $blanco;
    border-radius: 40px;
    color: $blanco;
    padding: 60px 68px 40px;
    min-height: 700px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.425);
}

.login__container--form{
    display: flex;
    flex-direction: column;
}

.login__container--form label{
    font-size: 14px
}

.login__container--remember{
    color: $blanco;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.login__container--remember a{
    color: $blanco;
    font-size: 14px;
    text-decoration: none;
}

.login__container--remember a:hover{
    text-decoration: underline;
}

.login__container--social-media > div{ /* The ">" is for taking all the divs under a container with this class */
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.login__container--social-media > div > img{ /* The ">" is for taking all the divs under a container with this class */
    width: 25px;
    margin-right: 10px;
}

.login__container--register{
    font-size: 14px;
}

.login__container--register a{
    font-size: 16px;
    color: $blanco;
    font-weight: bold;
    text-decoration: none;
}

.login__container--register a:hover{
    text-decoration: underline;
}
.input{
    height: 50px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $blanco;
    padding: 0px 20px;
    margin-bottom: 20px;
    color: $blanco;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    outline: none;
}
::placeholder{
    color: $blanco;
}
.button{
    height: 50px;
    background-color: rgba(255, 255, 255, .3);
    border: none;
    border-radius: 25px;
    color: $blanco;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    letter-spacing: 1px;
    margin: 10px 0px;
}
.footer{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background: #AB88FF
}
.footer a{
    color: $blanco;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}

/* Media querys */
@media only screen and (max-width: 600px){
    .login__container{
        background-color: transparent;
        border: none;
        padding: 0px;
        width: 100%;
        box-shadow: none;
    }
    .footer{
        align-items: flex-start;
        flex-direction: column;
    }
}