body{
    margin: 0px;
    background-color: #8F57FD;
    font-family: 'Muli', sans-serif
}

.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img{
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

.header__menu{
    margin-right: 30px;
}

.header__menu li a:hover{
    text-decoration: underline;
}

.header__menu ul {
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -14px;
}

.header__menu:hover ul, ul:hover {
    display: block;
}

.header__menu li{
    margin: 10px 0px;
}

.header__menu a{
    color: white;
    text-decoration: none;
}

.header__menu--profile{
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.header__menu--profile img{
    margin-right: 8px;
    width: 40px;
    height: 40px;
}

.header__menu--profile p {
    margin: 0px;
    color: white;
}

.main{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main__title{
    color: white;
    font-size: 25px;
}

.input{
    height: 50px;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    padding: 0px 20px;
}

.input:active, .input:focus{
    outline: none;
}

::placeholder{
    color: white;
}

.categories__title{
    font-size: 16px;
    color: white;
    position: absolute;
    padding-left: 30px;
    /* width: 100%; I comment this because giving padding and a certain width, makes page have scrollbar */
}

/* Carousel */
.carousel{
    /* width: 100%; I comment this because giving padding and a certain width, makes page have scrollbar */
    overflow: scroll;
    padding-left: 30px;
    position: relative;
    scrollbar-width: none;
}
.carousel__container{
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
    font-size: 0px;
}
.carousel-item{
    width: 200px;
    height: 250px;
    background: palevioletred;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all; /* Makes the transition last 450ms and all the transition types */
    transform-origin: center left; /* Makes the animation go from the center to the left */
    position: relative;
}
.carousel-item:hover ~ .carousel-item { /* This makes that when we hover a certain item the otherones receive this style */
    transform: translate3d(100px, 0, 0)
}
.carousel__container:hover .carousel-item { /* Lows the opacity of the carousel items when I am hovering the container */
    opacity: 0.3;
}
.carousel__container:hover .carousel-item:hover{ /* Over scales the item I am hovering at */
    transform: scale(1.5);
    opacity: 1;
}
.carousel-item__img{
    width: 200px;
    height: 250px;
    object-fit: cover;
}
.carousel-item__details{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 10px;
    opacity: 1;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.carousel__details--buttons img{
    width: 40px;
}
.carousel-item__details p{
    margin: 4px 0px;
}
.carousel-item__details--title{
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
}
.carousel-item__details--subtitle{
    color: white;
    font-size: 10px;
}

/* Footer */
.footer{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background: #8F57FD;
}
.footer a{
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}